<form (ngSubmit)='submitQuoteMe()' #quoteform='ngForm'>
  <div class="form-group">

  <label for="quote"></label>
  <textarea type="text" required class="form-control" id="quote" rows="4" [(ngModel)]="newQuoteMe.quota"  name="quota" #quota="ngModel"></textarea>
  </div>
  <div class="form-group">

    <label for=""></label>
    <input type="text" required class="form-control" id="author" [(ngModel)]="newQuoteMe.author"  name="author" #author="ngModel">
  </div>
  <button type="submit">Add A Quote</button>
</form>
